
<div class="card">
  <div class="card-column-container">
      
    <div class="card-column-container__column-left">
      <div class="column-content">

        <span><%= link "< Back", to: Routes.place_path(@conn, :index) %></span>

        <br />
        <br />

        <h1 class="column-content__header">Create a new Place</h1>

        <%= render "form.html", Map.put(assigns, :action, Routes.place_path(@conn, :create)) %>

      </div>
    </div>
  </div>
</div>





