
/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  position: relative;
  display: inline-block;

  transition: $av-standard-animation;

  &:hover {
    /* Show the dropdown menu on hover */
    .dropdown-content { 
      display: block; 
    }
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: $allo-color-primary-alt-80;
    border-radius: $av-border-radius-half;
    min-width: 160px;
    box-shadow: $av-box-shadow-base;
    z-index: 1;

    padding-top: $av-border-radius-base;
    padding-bottom: $av-border-radius-base;
    
    /* Links inside the dropdown */
    a, button {
      color: $allo-color-text;
      font-weight: normal;
      padding: 12px 24px;
      text-decoration: none;
      display: block;

      &:hover {
        //background-color: $allo-color-light;
        font-weight: $av-font-weight-bold;
      }
    }
  }
 
}