.card {
  display: block;
  //background: #fff;
  background: rgba(229, 203, 250, 0.6);

  box-shadow: $av-box-shadow-base;
  margin: 0 0 18px 0;
  transition: $av-standard-animation;
  border-radius: $av-border-radius-double;
  
  .title {
    font-size: 26px;
    font-weight: $av-font-weight-bold;
  }

  .subtitle {
    font-weight: $av-font-weight-bold;
    font-size: $av-font-size-small;
    line-height: 20px;
  }

  // Makes sure .card that are also an <a> element behaves differently than non-interactive cards
  @at-root {
    a#{&} {
      border-radius: $av-border-radius-base;
      cursor: pointer;
      padding: 29px;

      &:hover {  
        text-decoration: none;
      }
    }
  }

  &.neutral {
    background: $allo-color-neutral-85;

    .title {
      color: $allo-color-white;
    }
  
    .subtitle {
      color: $allo-color-white;
    }
  }

  &.primary {
    background: $allo-color-primary-90;

    .title {
      color: $allo-color-dark;
    }
  
    .subtitle {
      color: $allo-color-gray;
    }
  }
}