.card {
  display: block;
  margin: 0 0 18px 0;
  transition: $allo-standard-animation;
  border-radius: $allo-border-radius-double;

  background: $allo-card-bg;
  box-shadow: $allo-card-box-shadow;

  animation: fadeInUp 0.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}