

.form-container {
  margin-top: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}


label {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 0.8rem;
  color: $allo-text-color;
}

input[type=text],input[type=password],textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: $allo-padding-base;
  border-radius: $allo-border-radius-half;
  font-size: $allo-font-size-base;
  border: 0;
  background: $allo-input-bg;
  outline: $border-width-base solid $allo-input-border;
  color: $allo-input-text;

  &:hover {
    background: $allo-input-hover-bg;
    outline-color: $allo-input-hover-border;
  }

  &:focus-visible {
    background: $allo-input-focus-bg;
    outline-color: $allo-input-focus-border;
  }

  &::placeholder {
    color: $allo-input-placeholder;
  }

  &.error {
    outline-color: $allo-color-error;
  }
}

textarea {
  min-height: 120px;
}


.inline-form-validation-message {
  font-size: $allo-font-size-small;
  color: $allo-color-error;
  border-color: $allo-color-error;
  margin-top: 3px;
}

.forgot-password-container {
  margin-top: 12px;
}