

.form-container {

  // & > * {
  //   margin-bottom: $av-padding-base;
  // }

  margin-top: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}


label {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 0.8rem;
  color: $allo-color-dark;
}

input[type=text],input[type=password],textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: $av-padding-base;
  border-radius: $av-border-radius-half;
  color: $allo-color-text;
  font-size: $av-font-size-base;

  border: 1px solid $allo-color-input-border;
  background: $allo-color-input-bg;

  &:hover {
    border-color: $allo-color-text;
    background: $allo-color-input-bg-hover;
  }

  &:focus-visible {
    outline: 0;
    border-color: $allo-color-text;
    background: $allo-color-input-bg-focus;
  }

  &::placeholder {
    color: $allo-color-input-placeholder;
  }

  &.error {
    border-color: $allo-color-error;
  }
}

textarea {
  min-height: 120px;
}


.inline-form-validation-message {
  font-size: $av-font-size-small;
  color: $allo-color-error;
  border-color: $allo-color-error;
  margin-top: 3px;
}

.forgot-password-container {
  margin-top: 12px;
}





button, .button {
  display: block;
  color: $allo-color-dark;
  text-transform: uppercase;
  font-size: $allo-font-size-base;
  font-weight: $av-font-weight-bold;
  text-align: center;
  border-radius: $av-border-radius-double;
  cursor: pointer;
  padding: 12px 24px;
  border: 0;
  outline: 0;

  transition: $av-standard-animation;

  position: relative;


  &.neutral {
    background: $allo-color-neutral;
    color: $allo-color-dark;
    &:hover {
      text-decoration: none;
      background: $allo-color-light-alt-95;
      border-color: $allo-color-dark;
      outline: 1px solid $allo-color-dark;
    }
    &:active {}
  }
  

  &.primary {
    background: $allo-color-primary;
    color: $allo-color-dark;
    &:hover {
      background: $allo-color-primary-alt;
      outline: 1px solid $allo-color-dark;
    }
    &:active {}
  }

  &.header {
    background: $allo-color-dark;
    color: $allo-color-light;
    &:hover {
      background: $allo-color-light-30;
      color: $allo-color-dark;
    }
    &:active {}
  }

  &.large {
    font-size: $allo-font-size-large;
  }

  &.full-width {
    width: 100%;
  }
}