
body {
  font-family: $allo-font-family;
}

h1 {
  font-size: $allo-font-size-huge;
  font-weight: $allo-font-weight-bold;
  margin: 0 0 $allo-padding-base 0;
}

h2 {
  font-size: $allo-font-size-large;
  font-weight: $allo-font-weight-medium;
  margin: 0 0 $allo-padding-half 0;
  color: $allo-dark-navy;
}

h3 {
  font-size: $allo-font-size-base;
  font-weight: $allo-font-weight-normal;
  margin: 0 0 $allo-padding-base 0;
}

h4 {
  font-size: $allo-font-size-small;
  font-weight: $allo-font-weight-normal;
  margin: 0 0 $allo-padding-base 0;
}

p {
  font-size: $allo-font-size-base;
  line-height: 1.4;
  margin: 0 0 $allo-padding-base 0;
}

a {
  font-weight: $allo-font-weight-bold;
  text-decoration: none;
  color: $allo-link-color;

  &:hover {
    text-decoration: underline;
  }
}
