
body {
  font-family: $allo-font-default;
}


h1 {
  font-size: $av-font-size-huge;
  font-weight: $av-font-weight-bold;
  margin: 0 0 $av-padding-base 0;
}

h2 {
  font-size: $av-font-size-large;
  font-weight: $av-font-weight-medium;
  margin: 0 0 $av-padding-half 0;
  color: $allo-color-dark;
}

h3 {
  font-size: $av-font-size-base;
  font-weight: $av-font-weight-normal;
  margin: 0 0 $av-padding-base 0;
}

h4 {
  font-size: $av-font-size-small;
  font-weight: $av-font-weight-normal;
  margin: 0 0 $av-padding-base 0;
}

p {
  font-size: $av-font-size-base;
  line-height: 1.4;
  margin: 0 0 $av-padding-base 0;
}

a {
  font-weight: $av-font-weight-bold;
  text-decoration: none;
  color: $allo-color-link;

  &:hover {
    text-decoration: underline;
  }
}
