





/* Color variables  */
$allo-color-dark: #0C2B48;
$allo-color-dark-80: rgba(12, 43, 72, 0.8);

$allo-color-light: #D4F2FC;
$allo-color-light-90: rgba(212, 242, 252, 0.9);
$allo-color-light-80: rgba(212, 242, 252, 0.8);
$allo-color-light-60: rgba(212, 242, 252, 0.6);
$allo-color-light-30: rgba(212, 242, 252, 0.3);

$allo-color-light-alt: #E5CBFA;
$allo-color-light-alt-95: rgba(229, 203, 250, .95);

$allo-color-primary: $allo-color-light-90;
$allo-color-primary-90: $allo-color-light-90;

$allo-color-primary-alt: #B1CAE8;
$allo-color-primary-alt-80: rgba(177, 202, 232, 0.8);

$allo-color-neutral: #B88ED8;
$allo-color-neutral-95: rgba(184, 142, 216, .95);
$allo-color-neutral-85: rgba(184, 142, 216, .85);

$allo-color-white: #fff;

$allo-color-gray: #85919B;

$allo-color-grayblue: #6E8FAE;

$allo-color-info: $allo-color-light;
$allo-color-info-75: rgba(212, 242, 252, .75);

$allo-color-error: $allo-color-dark-80;




/* Input Fields */
/* Background */
$allo-color-input-bg: transparent;
$allo-color-input-bg-hover: $allo-color-light-30;
$allo-color-input-bg-focus: $allo-color-light-60;
/* Border */
$allo-color-input-border: $allo-color-light;
$allo-color-input-border-hover: $allo-color-dark;
$allo-color-input-border-focus: $allo-color-dark;


/* Text colors */
$allo-color-text: #0C2B48;
$allo-color-link: #0C2B48;


/* Typography */
//@font-face { font-family: Sen; src: url('/assets/fonts/Sen/Sen-Regular.ttf'); } 
$allo-font-default: "Sen", "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$allo-font-size-base: 0.8rem;
$allo-font-size-large: 1rem;
$allo-font-size-small: 0.6rem;



$av-color-error: #CF3720;
$av-color-warning: #fc6;
$av-color-message-bg: #1f2526;

$av-color-card-shadow: rgba(51, 111, 121, 0.07);






/* Standard border width for highlighted cards */
/* TODO: Use this value to calculate the padding the highlight replaces. Currently, that padding is magic numbers */
$card-highlight-border-width: 3px;


/* Border radii */
$av-border-radius-base: 12px;
$av-border-radius-double: calc(2 * #{$av-border-radius-base});
$av-border-radius-triple: calc(3 * #{$av-border-radius-base});
$av-border-radius-quadruple: calc(4 * #{$av-border-radius-base});
$av-border-radius-half: calc(#{$av-border-radius-base} / 2);


/* Font sizes */
$av-font-size-base: 1rem;
$av-font-size-small: 0.8rem;
$av-font-size-large: 1.2rem;
$av-font-size-huge: 1.6rem;


/* Font weights */
$av-font-weight-normal: 400;
$av-font-weight-medium: 500;
$av-font-weight-bold: 600;


/* Standard padding & margins */
$av-padding-base: 12px;
$av-padding-double: calc(2 * #{$av-padding-base});
$av-padding-triple: calc(3 * #{$av-padding-base});
$av-padding-quadruple: calc(4 * #{$av-padding-base});
$av-padding-half: calc(#{$av-padding-base}/2);


/* Standard animation specification */
/* TODO: Improve performance by only animating things that matter, i.e. not "all" */
$av-standard-animation: all ease-in-out 0.15s;


/* Standard box shadow */
$av-box-shadow-base:  0 1px 2px $av-color-card-shadow, 
                      0 2px 4px $av-color-card-shadow, 
                      0 4px 8px $av-color-card-shadow, 
                      0 8px 16px $av-color-card-shadow,
                      0 16px 32px $av-color-card-shadow, 
                      0 32px 64px $av-color-card-shadow;