<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>

    <div class="wrapper">
      <div class="main-container">
        <div class="page-header">

          <%= link to: "/", class: "page-header__title" do %>
            <img class="page-header__title__logo" src="<%= Routes.static_path(@conn, "/images/alloverse-dashboard-logo-48.png") %>" />
            <span>
              Alloverse <strong>Places</strong>    
            </span>
          <% end %>

          <div class="page-header__buttons">
          
          <%= if @current_user do %>
          <div class="dropdown-container">
            <div class="button header">
              <%# <img src="<%= Routes.static_path(@conn, "/images/user-picture.jpg") " /> %>
              <%= @current_user.name %>
            </div>
            <div class="dropdown-content">
              <%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %>

              <%= form_for @conn, Routes.session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
                <%= submit "Log Out", [class: "link"] %>
              <% end %>
            </div>
          </div>
              <%# <img src="<%= Routes.static_path(@conn, "/images/user-picture.jpg")" /> %>
                
            <% else %>
              <%= link("Create Account", to: "/user/new", class: "button header")%>
              <%= link("Log In", to: "/sessions/new", class: "button header")%>
            <% end %>
          </div>
        </div>

        <%= if get_flash(@conn, :info) do %>
          <div class="message-card info" role="info"><%= get_flash(@conn, :info) %></div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <div class="message-card error" role="alert"><%= get_flash(@conn, :error) %></div>
        <% end %>

        <%# <%= render @view_module, @view_template, assigns %>
         <%= @inner_content %>

      </div>
    </div>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
